$black: #000;
$black-light: #27282D;
$bg:#1F2023;
$white:#FFF;
$grey: #F0F2F5;
$border:#c8ccd1;
$white-letter:rgba(255, 255, 255, 0.6);        
$orange:#faba43; 
$whatsapp:#4EC95C;

$fs-h1: 3rem;
$fs-2: 2.6rem;
$fs-h3: 2.4rem;
$fs-h5: 1.8rem;


@mixin d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}